.new-booking__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-booking__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

select,
.new-booking__control input {
  font-size: 0.9rem;
  font: inherit;
  padding: 0.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 10rem;
  max-width: 100%;
}

.new-booking__control_readOnly input {
  width: 10rem;
}

.new-booking__actions {
  text-align: center;
}

/* ######################### */

.new-booking {
  font-size: 0.9rem;
  background-color: #a892ee;
  /* padding: 1rem; */
  /* margin: 2rem auto; */
  width: 50rem;
  /* max-width: 95%; */
  border-radius: 12px;
  text-align: center;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}

.new-booking button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-booking button:hover,
.new-booking button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-booking button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-booking button.alternative:hover,
.new-booking button.alternative:active {
  background-color: #ddb3f8;
}
